/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    background: url('images/grid-bg.png') no-repeat top right;
    background-position: right 12% top 0;
    width: 85%;
    max-width: 1444px;
    margin: 0 auto;
    padding-top: 25px;
  }


h1{
    font-size: 10em;
    text-transform: uppercase;
    line-height: 1em;
    margin: 100px 0px 50px 0px;
    float: left;
}

h2{
    font-size: 4em;
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 50px;
    width: 950px;
    float: left;
}

h3{
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.25em;
}

p{
    font-size: 1.5em;
    font-weight: 300;
}


/* end base styles */

/* nav */
.main-nav {
    width: 100%;
    min-height: 30px;
    padding: 10px;
}

.logo{
    width: 250px;
    display: block;
    float: left;
    margin-right: 75px;
}

.social-media{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.social-media img{
    height: 50px;
    margin-right: 35px;
}

/* header */
#hello{
    float: left;
}

header img{
    float: left;
    width: 30%;
    margin-left: 30px;
    margin-top: -450px;
    border: 15px solid #e2e735;
    border-radius: 35px;
}

i{
    color: #e2e735;
}



/* card styles */
.card{
    float: left;
    margin: 175px 0px 100px 0px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .3);
    padding-top: 75px;
    padding-bottom: 50px;
}

.card h3{
    background-color: #79dea8;
    width: 50%;
    padding: 20px;
    text-align: center;
    color: white;
}

.card p{
    width: 55%;
    margin: 85px auto;
}

.card img{
    width: 100%;
}

.card a{
    color: #79dea8;
    font-weight: 700;
    transition: 0.3s;
}

.card a:hover{
    color: #e2e735;
}


/* resume styles */
.ed-and-skills{
    float: left;
    width: 25%;
    height: auto;
    margin-right: 5%;
}

.experience{
    float: left;
    width: 70%;
    height: auto;
    padding-left: 5%;
    border-left: 3px solid #bbbdbf;
}

.grey-box{
    background-color: #e5e6e7;
    border-radius: 35px;
    padding: 35px 40px;
    color: #808184;
}

.grey-box li{
    font-size: 1.5em;
    font-weight: 300;
}

.experience li{
    font-size: 1.5em;
    font-weight: 300;
}

.experience article{
    padding: 35px 40px;
    border-radius: 35px;
    margin-bottom: 50px;
    color: white;
}

.federation{
    background-image: linear-gradient(to right, #ae95da, #7ba4dd);
}

.freelance{
    background-image: linear-gradient(to right, #fa7598, #ff9e18);
}

.graphica{
    background-image: linear-gradient(to right, #93d500, #3bd4ae);
}

/* footer */
footer{
    float: left;
}

footer a{
    font-weight: 700;
    color: black;
}

.copyright{
    font-size: 1em;
}

/* Media Queries */
